/* _____ Basic elements _____ */

.main-wrap {
	overflow: hidden;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}






*, *:before, *:after {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center{text-align: center !important;}
.text-l{text-align: left !important;}
.text-r{text-align: right !important;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.flow-hidden {overflow: hidden}
.none {
	display: none;
}

/* base */


body {
	background-color: #fff;
	position: relative; 
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	line-height: 1.2;
}


/* layout */




ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.2;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

















[data-fancybox],
.fancyboxmap {
	&:focus {
		outline: none;
	}
}

.fancybox-toolbar [data-fancybox-zoom]:disabled {
	background-color: transparent !important;
	opacity: .3;
}



































